@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Syne+Mono&display=swap");
header {
    font-family: "Syne Mono", monospace;
}

header>h1 {
    font-size: 60px;
}

body {
    font-family: "Poppins", sans-serif;
}

.card-box {
    border: none;
}