@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Syne+Mono&display=swap");
header {
    font-family: "Syne Mono", monospace;
}

header>h1 {
    font-size: 60px;
}

main {
    font-family: "Poppins", sans-serif;
}

#card {
    height: 600px;
    padding: 10px 15px;
    border-radius: 25px;
}

#card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.details-image {
    border-radius: 25px;
}

ul>li {
    width: 700px;
}