/* IMPOERTED LINKS */

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Syne+Mono&display=swap");

/* header section  */

header {
    font-family: "Syne Mono", monospace;
}

header>h1 {
    font-size: 60px;
}


/* Spinner Section */

#spinner {
    display: none;
}


/* Main Section  */

main {
    font-family: "Poppins", sans-serif;
}


/* Card Section  */

#card {
    height: 600px;
    padding: 10px 15px;
    border-radius: 25px;
}

#card:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease;
}


/* Details Section  */

.details-image {
    border-radius: 25px;
}